label,
input,
button {
    width: 100%;
    max-width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    text-align: center;
}

button {
    margin-top: 10px !important;
}

label {
    max-width: 100px !important;
}

footer {
    bottom: 0;
    position: absolute;
    width: 100%;
    height: 40px;
}
